@import '../variables.scss';

.cv-app {
  height: 100%;
  line-height: 1;

  //color: $primary;
  //font-size: 56px;
  //font-family: 'Baloo Paaji', cursive;
}

#toolbar {
  height: 50px;
  position: fixed;
  z-index: 2;
  background: linear-gradient(to bottom, #fff 98%, $primary 2%);
  color: $primary;

  #toolbar-home {
    display: flex;
    width: calc(10%);
  }

  #toolbar-list {
    width: calc(90% - 32px);
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    margin-left: 32px;

    > button {
      width: auto;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

#title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 400px;
  height: auto;
  background-color: #fff;
  //background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
  //background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
  padding: 100px 8px 32px 8px;

  #title-text {
    width: calc(55%);
    margin-left: calc(10%);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    line-height: 1;

    #title-text-1 {
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      letter-spacing: normal;
    }

    #title-text-2 {
      margin-top: 8px;
      color: $primary;
      font-size: 66px;
      font-family: 'Baloo Paaji', cursive;
    }

    #title-text-3 {
      margin-top: 4px;
      word-wrap: break-word;
      font-size: 36px;
      font-family: 'Open Sans', sans-serif;
    }

    #title-text-4 {
      margin-top: 100px;
      word-wrap: break-word;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }
  }

  #title-photo {
    width: calc(29%);
    min-width: 300px;
    margin: 0 calc(3%) 0 calc(3%);
    //background: wheat;
  }
}

#skills {
  min-height: 800px;
  height: auto;
  background: linear-gradient(to bottom, $primary 40%, #fff 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  #skills-header {
    padding-top: 80px;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
  }

  #skills-card {
    height: auto;
    width: calc(80%);
    margin-top: 32px;
    padding: 36px 0 32px 0;

    #skills-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      #skills-core {
        width: calc(33%);
      }

      #skills-tools {
        width: calc(33%);
      }

      #skills-soft {
        width: calc(33%);
      }
    }

    .skills-icon {
      margin-bottom: 12px;
      color: $primary;

      > mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }
    }

    .title {
      font-size: 32px;
      font-family: 'Open Sans', sans-serif;
    }

    .skills-list {
      margin-top: 16px;
      font-size: 18px;

      > mat-list mat-list-item {
        height: auto;
        margin-bottom: 16px;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .skills-name {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      height: 20px;
    }

    .time-info {
      color: grey;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      height: 14px;
    }
  }
}

#experience {
  height: auto;
  background: #fff;

  > mat-divider {
    margin: 8px auto auto;
  }

  #experience-body {
    display: flex;
    background: linear-gradient(to bottom, #fff 35%, $primary 35% 65%, #fff 65%);
    justify-content: center;

    .experience-arrow {
      display: flex;
      align-items: center;
      color: #fff;
      margin: 0 24px 0 24px;

      > mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }

      > mat-icon:before {
        content: 'arrow_right_alt';
      }
    }
  }

  .experience-card {
    width: 40%;
    margin: 64px 0 64px 0;

    .experience-card-upper {
      display: flex;

      .experience-card-logo {
        display: flex;
        height: auto;
        width: 46px;
        margin-right: 8px;

        > img {
          margin: auto;
        }
      }

      .experience-card-title {
        > mat-card-title {
          font: 28px 'Open Sans', sans-serif;
          margin: 0 !important;
        }

        > mat-card-subtitle {
          font: 16px 'Open Sans', sans-serif;
          margin: 0 !important;
        }
      }
    }

    .experience-card-content {
      margin-top: 16px;
      font: 18px 'Open Sans', sans-serif;

      .experience-position {
        margin-bottom: 24px;
      }

      > span mat-card-subtitle {
        font: 16px 'Open Sans', sans-serif;
        margin-top: 0;
        color: #000000;
      }
    }
  }

  #experience-card-1 {
  }
}

#contact {
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  #contact-header {
    padding-top: 80px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: $primary;
    text-align: center;
  }

  #contact-card {
    height: auto;
    min-width: 600px;
    width: calc(50%);
    margin-top: 8px;
    padding: 24px 0 24px 0;

    #contact-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      #contact-email {
        width: calc(33%);
      }

      #contact-linkedin {
        width: calc(33%);
      }

      #contact-github {
        width: calc(33%);
      }
    }

    .contact-icon {
      margin-bottom: 8px;
      color: $primary;

      > mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }
    }

    .contact-text {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.section-header {
  padding-top: 80px;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  color: $primary;
  text-align: center;
}

.divider {
  width: 30%;
  background: $primary;
  margin-top: 8px;
}

// media screen

@media screen and (max-width: 770px) {
  #skills-content {
    display: flex;
    flex-direction: column !important;
    row-gap: 32px;

    #skills-core {
      width: calc(100%) !important;
    }

    #skills-tools {
      width: calc(100%) !important;
    }

    #skills-soft {
      width: calc(100%) !important;
    }
  }

  #experience-body {
    flex-direction: column;
    align-items: center;

    .experience-card {
      width: 80%;
      margin: 24px 0 24px 0;
    }

    .experience-arrow {
      > mat-icon:before {
        content: 'arrow_downward' !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #contact-card {
    min-width: unset !important;
    width: 80% !important;
  }

  #contact-content {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 16px;
    align-items: center !important;

    #contact-email {
      width: calc(100%) !important;
    }

    #contact-linkedin {
      width: calc(100%) !important;
    }

    #contact-github {
      width: calc(100%) !important;
    }
  }
}

@media screen and (max-width: 600px) {
  #toolbar-list {
    justify-content: space-evenly !important;
    column-gap: 16px !important;
  }

  #title-text {
    width: calc(90%) !important;
    margin-left: unset !important;
  }
}
