@import '../variables.scss';

// todo: maybe one day use "Urbanist" font

.cv-app {
  height: 100%;
  line-height: 1;
  background: #fff;
}

#toolbar {
  height: 50px;
  position: fixed;
  z-index: 2;
  background: #fff;
  border-bottom: solid 2px $primary;
  color: $primary;

  #toolbar-home {
    display: flex;
    width: calc(10%);

    > button {
      mat-icon {
        width: 26px;
        height: 26px;
        font-size: 26px;
      }
    }
  }

  #toolbar-list {
    width: calc(90% - 32px);
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 24px;

    > button {
      width: auto;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      border-radius: 16px;
    }

    #contact-button {
      width: 96px;
      height: 42px;
      letter-spacing: var(--mdc-text-button-label-text-tracking);
    }
  }
}

#title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 400px;
  height: auto;
  background-color: #fff;
  padding: 100px 8px 32px 8px;

  #title-text {
    width: calc(55%);
    margin-left: calc(10%);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    line-height: 1;

    #title-text-1 {
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      letter-spacing: normal;
    }

    #title-text-2 {
      margin-top: 8px;
      color: $primary;
      font-size: 66px;
      font-family: 'Baloo Paaji', cursive;
      letter-spacing: -2px;
    }

    #title-text-3 {
      margin-top: 4px;
      word-wrap: break-word;
      font-size: 36px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: -1px;
    }

    #title-text-4 {
      margin-top: 100px;
      word-wrap: break-word;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.7 !important;
    }
  }

  #title-photo {
    width: calc(29%);
    min-width: 300px;
    margin: 0 calc(3%) 0 calc(3%);
  }
}

#skills {
  min-height: 860px;
  height: auto;
  background: linear-gradient(to bottom, $primary 40%, #fff 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  #skills-header {
    padding-top: 80px;
    font-size: 44px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  #skills-card {
    height: auto;
    width: calc(80%);
    margin-top: 32px;
    padding: 32px 0 32px 0;
    z-index: 1;

    #skills-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      #skills-core {
        width: calc(33%);
      }

      #skills-tools {
        width: calc(33%);
      }

      #skills-soft {
        width: calc(33%);
      }
    }

    .skills-icon {
      margin-bottom: 12px;
      color: $primary;

      > mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }
    }

    .title {
      font-size: 32px;
      font-family: 'Open Sans', sans-serif;
    }

    .skills-list {
      margin-top: 16px;
      font-size: 18px;

      > mat-list mat-list-item {
        height: auto;
        margin-bottom: 8px;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .skills-name {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      white-space: normal;
    }

    .time-info {
      color: grey;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

#experience {
  min-height: 900px;
  height: auto;
  background: #fff;

  .experience-header {
    height: 100%;
    width: 300px;
    margin: auto;
    z-index: 1;
    position: sticky;
    background: #fff;
  }

  > mat-divider {
    margin: 8px auto auto;
  }

  #experience-body {
    display: flex;
    background: linear-gradient(to bottom, #fff 35%, $primary 35% 65%, #fff 65%);
    justify-content: center;

    .experience-arrow {
      display: flex;
      align-items: center;
      color: #fff;
      margin: 0 24px 0 24px;

      > mat-icon {
        width: 72px;
        height: 72px;
        font-size: 72px;
      }

      > mat-icon:before {
        content: 'arrow_right_alt';
      }
    }
  }

  .experience-card {
    width: 40%;
    margin: 32px 0 64px 0;
    z-index: 1;

    .experience-card-upper {
      display: flex;

      .experience-card-logo {
        display: flex;
        height: auto;
        width: 56px;
        margin-right: 8px;

        > img {
          margin: auto;
        }
      }

      .experience-card-title {
        > mat-card-title {
          font:
            28px 'Open Sans',
            sans-serif;
          margin: 0 !important;
        }

        > mat-card-subtitle {
          font:
            16px 'Open Sans',
            sans-serif;
          margin: 0 !important;
        }
      }
    }

    .experience-card-content {
      margin-top: 8px;
      font:
        22px 'Open Sans',
        sans-serif;

      .experience-position {
        margin-bottom: 24px;
        color: #3949ab;
      }

      .experience-title {
        font-size: 18px;
      }

      > span mat-card-subtitle {
        font:
          16px 'Open Sans',
          sans-serif;
        line-height: 1.7 !important;
        margin-top: 4px;
        color: #000000;
      }
    }
  }
}

#education {
  min-height: 540px;
  height: auto;
  background: linear-gradient(to bottom, $primary 50%, #fff 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  #education-header {
    padding-top: 80px;
    font-size: 44px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  #education-card {
    height: auto;
    width: calc(50%);
    margin-top: 32px;
    padding: 24px 0 24px 0;
    z-index: 1;

    #education-content {
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;

      #education-card-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > mat-card-title {
          font-size: 28px;
        }

        #education-degree {
          font-size: 18px;
          margin-bottom: 8px;
        }

        #education-time {
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

#contact {
  min-height: 360px;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;

  #contact-header {
    padding-top: 80px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: $primary;
    text-align: center;
  }

  .contact-body {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #contact-card {
    height: auto;
    min-width: 600px;
    width: calc(50%);
    margin-top: 32px;
    padding: 24px 0 24px 0;
    z-index: 1;

    #contact-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      word-wrap: break-word;

      #contact-email {
        width: calc(33%);
      }

      #contact-linkedin {
        width: calc(33%);
      }

      #contact-github {
        width: calc(33%);
      }
    }

    .contact-icon {
      margin-bottom: 8px;
      color: $primary;

      > mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }
    }

    .contact-text {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.section-header {
  padding-top: 76px;
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  color: $primary;
  text-align: center;
  z-index: 1;
  background: #fff;
  margin-top: 4px;
}

.divider-blue {
  width: 30%;
  background: $primary;
  margin-top: 4px;
}

.divider-white {
  width: 30%;
  background: white;
  margin-top: 4px;
}

.footer {
  height: 40px;
  width: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  border-top: 1px solid $primary;
  color: $primary;
  margin-top: 16px;
  padding: 0 32px;

  .copyright {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    .copyright-icon {
      font-size: 16px;
      margin-right: 4px;
    }
  }
}

#particles-js-title {
  position: absolute;
  top: 0;
  height: 532px;
  width: 100%;
  z-index: 0;
}

#particles-js-experience {
  position: absolute;
  left: 0;
  height: 150%;
  width: 100%;
  z-index: 0;
}

// media screen
@media screen and (max-width: 770px) {
  #skills-content {
    display: flex;
    flex-direction: column !important;
    row-gap: 32px;

    #skills-core {
      width: calc(100%) !important;
    }

    #skills-tools {
      width: calc(100%) !important;
    }

    #skills-soft {
      width: calc(100%) !important;
    }
  }

  #experience-body {
    flex-direction: column;
    align-items: center;

    .experience-card {
      width: 80%;
      margin: 24px 0 24px 0;
    }

    .experience-arrow {
      > mat-icon:before {
        content: 'arrow_downward' !important;
      }
    }
  }

  #education-card {
    width: calc(80%) !important;

    #education-content {
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;

      #education-card-title {
        row-gap: 8px !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #skills-card {
    padding: 0 !important;
  }
  #education-card {
    padding: 0 !important;
  }
  #contact-card {
    min-width: unset !important;
    width: 80% !important;
    padding: 0 !important;
  }

  #contact-content {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 16px;
    align-items: center !important;

    #contact-email {
      width: calc(100%) !important;
    }

    #contact-linkedin {
      width: calc(100%) !important;
    }

    #contact-github {
      width: calc(100%) !important;
    }
  }
}

@media screen and (max-width: 600px) {
  #skills {
    background: linear-gradient(to bottom, $primary 30%, #fff 30%) !important;
  }

  #toolbar {
    padding: 0 4px;
  }

  #toolbar-home {
    display: none !important;
  }

  #toolbar-list {
    width: 100% !important;
    margin-left: 0 !important;
    justify-content: space-evenly !important;
    column-gap: 4px !important;

    > button {
      font-size: 14px !important;
    }

    #contact-button {
      width: 80px !important;
      height: 36px !important;
    }
  }

  #title-text {
    width: calc(90%) !important;
    margin-left: unset !important;
  }

  .divider-blue {
    width: 50% !important;
  }

  .divider-white {
    width: 50% !important;
  }
}
