<div class="cv-app" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar id="toolbar">
    <div id="toolbar-home">
      <button (click)="onClickScroll('title')" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div id="toolbar-list">
      <button (click)="onClickScroll('skills')" mat-icon-button>
        <span>
          <strong>Skills</strong>
        </span>
      </button>
      <button (click)="onClickScroll('experience')" mat-icon-button>
        <span>
          <strong>Experience</strong>
        </span>
      </button>
      <button (click)="onClickScroll('education')" mat-icon-button>
        <span>
          <strong>Education</strong>
        </span>
      </button>
      <button (click)="onClickScroll('contact')" mat-icon-button>
        <span>
          <strong>Contact</strong>
        </span>
      </button>
    </div>
  </mat-toolbar>
  <div id="title">
    <div id="particles-js-title"></div>
    <div id="title-text">
      <span id="title-text-1"> Hello, my name is </span>
      <span id="title-text-2"> Paweł Pruchniak </span>
      <span id="title-text-3"> I am <strong> software developer </strong> </span>
      <span id="title-text-4"> I'm a software developer currently living in Warsaw, Poland. </span>
    </div>
    <div id="title-photo"></div>
  </div>
  <div id="skills">
    <div id="skills-header">
      <span>
        <strong>Skills</strong>
      </span>
    </div>
    <mat-card id="skills-card">
      <mat-card-content>
        <mat-card-content id="skills-content">
          <div id="skills-core">
            <div class="skills-icon">
              <mat-icon>computer</mat-icon>
            </div>
            <span class="title">
              <strong>Core</strong>
            </span>
            <div class="skills-list column">
              <mat-list>
                <mat-list-item>
                  <div class="skills-name" mat-line>
                    <strong> {{ 'Java 8/11/17' }} </strong>
                  </div>
                  <div class="time-info" mat-line>
                    <strong>{{ getJavaDuration }}</strong>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>
                    <strong>{{ 'Angular & Typescript' }}</strong>
                  </div>
                  <div class="time-info" mat-line>
                    <strong>{{ getTypescriptDuration }}</strong>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div id="skills-tools">
            <div class="skills-icon">
              <mat-icon>category</mat-icon>
            </div>
            <span class="title">
              <strong>Frameworks & Tools</strong>
            </span>
            <div class="skills-list column">
              <mat-list>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Spring framework' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Spring JDBC' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Hibernate' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Relational Databases' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Liquibase' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Vavr' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'JUnit' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Mockito' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Maven' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Docker' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Jenkins' }}</div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div id="skills-soft">
            <div class="skills-icon">
              <mat-icon>group</mat-icon>
            </div>
            <span class="title">
              <strong>Soft skills</strong>
            </span>
            <div class="skills-list column">
              <mat-list>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Polish - native' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'English - intermediate' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Great work organisation' }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div class="skills-name" mat-line>{{ 'Working with business teams' }}</div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="experience">
    <div id="particles-js-experience"></div>
    <div class="section-header">
      <div class="experience-header">
        <span>
          <strong>Experience</strong>
        </span>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div id="experience-body">
      <mat-card class="experience-card">
        <mat-card-content>
          <div class="experience-card-upper">
            <div class="experience-card-logo">
              <img alt="logo" height="46" ngSrc="assets/psi-logo.png" width="46" />
            </div>
            <div class="experience-card-title">
              <mat-card-title>
                <span> PSI Polska sp. z.o.o. </span>
              </mat-card-title>
              <mat-card-subtitle> April 2021 - February 2021 (11 mos)</mat-card-subtitle>
            </div>
          </div>
          <mat-card-content class="experience-card-content">
            <div class="experience-position">
              <span>
                <strong>Junior Software Developer</strong>
              </span>
            </div>

            <span
              ><strong>Description & Responsibilities:</strong>
              <mat-card-subtitle
                >I was responsible for the development and maintenance of the production management system. I worked in
                a scrum team, in an agile methodology. The software I developed had to be efficient and well tested. I
                also took care of the efficiency of our software delivery, through CI/CD tools.</mat-card-subtitle
              >
            </span>
            <br />
            <span
              ><strong>Technologies & Tools:</strong>
              <mat-card-subtitle>{{
                'Java8/11, &nbsp;JavaEE, &nbsp;JUnit, &nbsp;Mockito, &nbsp;testcontainers, &nbsp;Docker, &nbsp;Jenkins, &nbsp;Oracle, &nbsp;MSSQL, &nbsp;PostgreSQL, &nbsp;Maven, &nbsp; Git'
              }}</mat-card-subtitle>
            </span>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
      <div class="experience-arrow">
        <mat-icon></mat-icon>
      </div>
      <mat-card class="experience-card">
        <mat-card-content>
          <div class="experience-card-upper">
            <div class="experience-card-logo">
              <img alt="logo" height="46" ngSrc="assets/horus-logo.png" width="46" />
            </div>
            <div class="experience-card-title">
              <mat-card-title>
                <span> Horus </span>
              </mat-card-title>
              <mat-card-subtitle> February 2021 - Present ({{ getHorusDuration }})</mat-card-subtitle>
            </div>
          </div>
          <mat-card-content class="experience-card-content">
            <div class="experience-position">
              <span><strong>Software Developer</strong> </span>
            </div>

            <span
              ><strong>Description & Responsibilities:</strong>
              <mat-card-subtitle
                >I am responsible for the architectural design, implementation and development of software for
                telecommunications companies. We work in an agile methodology. In software development, I implement both
                backend and frontend part (with Typescript & Angular). I work closely with business teams in order to
                best meet their needs.</mat-card-subtitle
              >
            </span>
            <br />
            <span
              ><strong>Technologies & Tools:</strong>
              <mat-card-subtitle>{{
                'Java11/17, &nbsp;Spring, &nbsp;SpringBoot, &nbsp;SpringJDBC, &nbsp;Vavr, &nbsp;JUnit, &nbsp;Mockito, &nbsp;Oracle, &nbsp;Maven, &nbsp;Typescript, &nbsp;Angular, &nbsp;Git'
              }}</mat-card-subtitle>
            </span>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div id="education">
    <div id="education-header">
      <span>
        <strong>Education</strong>
      </span>
    </div>
    <mat-card id="education-card">
      <mat-card-content id="education-content">
        <div class="education-card-logo">
          <img alt="logo" height="140" ngSrc="assets/uam-logo.png" width="120" />
        </div>
        <div id="education-card-title">
          <mat-card-title>
            <span> <strong>Adam Mickiewicz University in Poznań</strong> </span>
          </mat-card-title>
          <mat-card-title id="education-degree">Engineer's degree in Computer Science</mat-card-title>
          <mat-card-subtitle id="education-time">October 2018 - February 2022</mat-card-subtitle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="contact">
    <div class="section-header">
      <span>
        <strong>Contact</strong>
      </span>
    </div>
    <mat-divider class="divider"></mat-divider>
    <mat-card id="contact-card">
      <mat-card-content>
        <mat-card-content id="contact-content">
          <div id="contact-email">
            <div class="contact-icon">
              <mat-icon>email</mat-icon>
            </div>
            <span class="contact-text">
              <strong>pp.pruchniak@gmail.com</strong>
            </span>
          </div>
          <div id="contact-linkedin">
            <div class="contact-icon">
              <a href="https://www.linkedin.com/in/paweł-pruchniak-939309188/" target="_blank">
                <svg height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </div>
            <span class="contact-text">
              <strong>Paweł Pruchniak</strong>
            </span>
          </div>
          <div id="contact-github">
            <div class="contact-icon">
              <a href="https://github.com/PawelPruchniak" target="_blank">
                <svg height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </div>
            <span class="contact-text">
              <strong>PawelPruchniak</strong>
            </span>
          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="footer"></div>
</div>
